:root {
  --clr-neutral-ltr: hsl(0 0% 100%);
  --clr-neutral-lt: hsl(0 0% 95%);
  --clr-neutral-l: hsl(0 0% 90%);

  --clr-neutral-dkr: hsl(0 0% 000%);
  --clr-neutral-dk: hsl(0 0% 05%);
  --clr-neutral-d: hsl(0 0% 10%);

  --clr-accent-dk: hsl(190 25% 45%);
  --clr-accent-d: hsl(190 25% 55%);
  --clr-accent-n: hsl(190 25% 60%);
  --clr-accent-l: hsl(190 25% 65%);
  --clr-accent-lt: hsl(190 25% 75%);
}
