@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700;900&display=swap");

:root {
  --ff-header: "Jost", sans-serif;
  --ff-body: "Jost", sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;
}

h1,
h2,
h3 {
  font-weight: var(--fw-bold);
  line-height: 1.1;
  margin-top: 0;
}

p {
  margin-top: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}
