:root {
  --clr-fg-dk: hsl(0 0% 08%);
  --clr-fg-d: hsl(0 0% 10%);
  --clr-fg-n: hsl(0 0% 90%);
  --clr-fg-l: hsl(0 0% 95%);
  --clr-fg-lt: hsl(0 0% 90%);

  --clr-bg-dk: hsl(0 0% 04%);
  --clr-bg-d: hsl(0 0% 08%);
  --clr-bg-n: hsl(0 0% 11%);
  --clr-bg-l: hsl(0 0% 15%);
  --clr-bg-lt: hsl(0 0% 18%);

  --clr-accent-dk: hsl(190 25% 45%);
  --clr-accent-d: hsl(190 25% 55%);
  --clr-accent-n: hsl(190 25% 60%);
  --clr-accent-l: hsl(190 25% 65%);
  --clr-accent-lt: hsl(190 25% 75%);

  --drop-shadow: hsl(0 0% 10% / 0.2);
}
