.check-box {
  & {
    appearance: none;
    border: 0;
    transition: 0.2s ease-in scale;
  }

  &:where(:active) {
    translate: 0 0.1rem;
  }

  &:where(:focus, :hover) {
    scale: 1.15;
  }

  &::before {
    content: "\ea42";
    color: var(--clr-fg-n);
    font-size: 1.4rem;
  }

  &::after {
    content: "\ed2f";
    display: none;
    font-size: 1.4rem;
    color: var(--clr-fg-n);
  }

  &:where(:checked)::after {
    display: inline;
    color: var(--clr-accent-n);
    transition: 0.2s ease-in color;
  }

  &:where(:checked)::before {
    display: none;
  }
}
