.input-group {
  & {
    display: flex;
    padding-block: 0.3rem;
    gap: 0.8rem;
  }

  & > .range {
    width: 100%;
  }

  & > .label {
    width: 100%;
    text-overflow: ellipsis;
  }

  & > .button {
    font-family: "Jost";
    border: none;
    border-radius: var(--inner-radius);
    background-color: var(--clr-accent-l);
    padding-block: 0.5rem;
    margin-top: 0.5rem;
    font-size: 0.8rem;
    font-weight: var(--fw-medium);
    line-height: 1;
    text-transform: uppercase;
    color: var(--clr-neutral-d);
    width: 100%;
    transition: 0.2s ease-in background-color, 0.2s ease-in scale;
  }

  & > .button:is(:hover, :focus) {
    scale: 1.01;
    background-color: var(--clr-accent-n);
  }
}
