.-tooltip[data-text]:not([data-text=""]) {
  position: relative;
  --tooltip-bg: hsl(0 0% 30%);
  --tooltip-fg: hsl(0 0% 95%);
}

/* ------------------------------------------------------ */
/*                         Center                         */
/* ------------------------------------------------------ */

.-tooltip[data-text]:not([data-text=""]):is(:hover, :focus)::before {
  content: attr(data-text);
  position: absolute;
  background-color: var(--tooltip-bg);
  color: var(--tooltip-fg);
  padding: 0.4rem;
  border-radius: var(--inner-radius);
  font-size: 0.65rem;
  width: max-content;
  left: 50%;
  translate: -50%;
  bottom: calc(100% + 0.8rem);
  z-index: 10;
}

.-tooltip[data-text]:not([data-text=""]):is(:hover, :focus)::after {
  content: "";
  position: absolute;
  border-width: 0.4rem;
  border-style: solid;
  border-color: transparent;
  border-top-color: var(--tooltip-bg);
  width: 0;
  height: 0;
  left: 50%;
  bottom: 100%;
  translate: -50%;
  z-index: 10;
}

/* ------------------------------------------------------ */
/*                          Left                          */
/* ------------------------------------------------------ */

.-tooltip.-left[data-text]:not([data-text=""]):is(:hover, :focus)::before {
  content: attr(data-text);
  left: 0;
  translate: 0;
}

.-tooltip.-left[data-text]:not([data-text=""]):is(:hover, :focus)::after {
  left: 0.3rem;
  translate: 0;
}

/* ------------------------------------------------------ */
/*                         Right                          */
/* ------------------------------------------------------ */

.-tooltip.-right[data-text]:not([data-text=""]):is(:hover, :focus)::before {
  content: attr(data-text);
  left: 100%;
  translate: -100%;
}

.-tooltip.-right[data-text]:not([data-text=""]):is(:hover, :focus)::after {
  left: 0;
  translate: 0;
}
